@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    src: url('../../../../../foundation-cv-gen/public/fonts/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('../../../../../foundation-cv-gen/public/fonts/Ubuntu-Medium.ttf');
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: url('../../../../../foundation-cv-gen/public/fonts/Ubuntu-Bold.ttf');
}
